<footer>
  <a href="https://fablab.blog" target="_blank">@fabianhtml</a> · <a href="https://github.com/fabianhtml/markreader" target="_blank">libre en GitHub</a> · <a href="https://x.com/fabianhtml/status/1903094787709821154" target="_blank">about</a>
</footer>

<style>
  footer {
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid var(--color-border);
    font-size: 0.9rem;
    color: var(--color-secondary);
  }

  footer a {
    color: var(--color-secondary);
    text-decoration: underline;
  }

  footer a:hover {
    opacity: 0.8;
  }

  .dark-theme footer {
    border-top-color: var(--dark-color-border);
  }
</style> 